/* pitch-theme.css */
/* @theme pitch-theme*/

@import 'base-theme.css';

:root {
    --r-background-color: var(--opengisch-green);
    --r-heading1-size: 200px;
    --r-heading2-size: 150px;
    --r-heading3-size: 100px;
    --r-heading4-size: 75px;
    --r-heading5-size: 60px;
    --r-heading6-size: 25px;
}


h1, h2, h3, h4, h5, h6 {
    color: var(--opengisch-light) !important;
    -webkit-text-stroke: 3px var(--opengisch-blue);
    text-align: left !important;
}

p {
    color: var(--opengisch-dark) !important;
    text-align: left !important;
}
