/* teaching-theme.css */

@import 'base-theme.css';

:root {
  --r-background-color: var(--opengisch-dark);
}

/* Slide-specific vertical centering override */
.reveal .slides section[data-vertical-align-top] {
  top: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--opengisch-green) !important;
  -webkit-text-stroke: 2px var(--opengisch-light);
  text-align: left !important;
}

p,
ul,
tr,
td,
div {
  color: var(--opengisch-light) !important;
  text-align: left !important;
}